* {
    box-sizing: border-box;
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.photo {
    width: 300px;
    height: auto;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(152, 212, 152);
}
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(212, 178, 152);
}
h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(163, 152, 212);
}

ul {
    list-style-type: none;
}

.navigation {
    display: block;
}

.navigation .recipe {
    background-color: rgb(152, 212, 152);
    display: inline-block;
    padding: 10px;
    margin: 10px;
}

.navigation .recipe a {
    background-color: rgb(152, 212, 152);
    color: black;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navigation .recipe a:hover {
    color: white;
}

.navigation.site {
    background-color: rgb(152, 212, 152);
    color: black;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin: 10px;
}

.navigation.site:hover {
    color: white;
}
